<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>chat</title>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<script>
	var socket= io();
</script>
<div>

	<div>
		
		<p>Login or Register with:</p>
		<a href="/login"> Login</a>
		<a href="/signup"> Local Signup</a>
	</div>
</div>
</body>
</html>