
 * { 
  margin: 0; 
  padding: 0; 
  box-sizing: 
  border-box; 
}
      
  body { 
    font: 13px Helvetica, Arial; 
  }

  form { 
    background: #000; 
    padding: 3px;  
    bottom: 0; 
    width: 100%; 
  }

  form input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
  }

  form button { 
    width: 9%;  
    border: none; 
    padding: 10px; 
  }

  #messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
  }

  #messages li { 
    padding: 5px 10px; 
  }

  #messages li:nth-child(odd) { 
    background: #eee; 
  }


.chat{
  max-width: 300px;
  
}

.chat-messages {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
}

.chat-history {
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  padding: 10px;
}

.chat-msg {
  margin-bottom: 10px;
}

.chat-history ,
.chat-messages,
.chat-texarea,
.chat-name {
  border: 1px solid #bbb;
}

.chat-name {
  width: 100%;
  padding: 10px;
  border-bottom: 0;
  margin: 0;
}

.chat-textarea {
  width: 100%;
  padding: 10px;
  border-top: 0;
  margin: 0;
  max-width: 100%;
}

.chat-status {
  color : #bbb;
}

.chat-textarea,
.chat-name {
  outline: none;
}

